      body{
        background-color: #BFD7EA;
        text-align: justify;
        font-family: sans-serif;
      }

      footer {
         background-color: #C81D25;
         color: #fefae0;
         text-align: center;
         padding: 2rem;
         border-top: 3px solid #bc6c25;
         margin-top: 5rem;
      }
      a{
        color: #FF5A5F;
      }

      {
        color: #FF5A5F;
      }

      .titulo{
        background-color: #087E8B;
      }

      /*Imagenes*/
      .imagen_acercanosotros{
        height: 250px;
      }
      .imagen_angel{
        width: 150px;
      }
      .imagen_victor{
        width: 160px;
      }

      .imagen_historia{
        width: 320px;
      }
      .imagen_historia2{
        width: 250px;
      }

      .imagen_procesos{
        width: 350px;
      }
      .imagen_procesos2{
        width: 300px;
      }

      .imagen_definicion{
        width: 210px;
      }
      .imagen_definicion2{
        width: 230px;
      }

      .imagen_beneficios{
        width: 220px;
      }
      .imagen_beneficios2{
        width: 220px;
      }
      .navbar{
        background-color: #0B3954;
        color: #FF5A5F;
      }

      .nav-link:hover{
        color: #FF5A5F;
      }